.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  font-size: 15px;
  padding: 1.5em 1rem;
}

.header__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--active {
  background-color: #52c41a61;
}
